<div class="form-group col-sm-6">
    <label for="name" class="h4">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Unesite Vaše ime" required>
</div>
<div class="form-group col-sm-6">
    <label for="email" class="h4">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Unesite Vaš email" required>
</div>
<div class="form-group">
    <label for="message" class="h4 ">Tekst Vaše poruke</label>
    <textarea id="message" class="form-control" rows="5" placeholder="Unesite tekst poruke" required></textarea>
</div>
<button type="submit" id="form-submit" class="btn btn-success btn-lg pull-right "><span class="glyphicon glyphicon-send"></span> Pošalji</button>
<div class="embed-responsive embed-responsive-16by9">
<iframe class="embed-responsive-item" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJr6t1rPSHVkcR2_2h8lTf4Wk&key=AIzaSyC-axA4tyJbvvhl0XSbP-jr7FFOUf3MdNQ" allowfullscreen></iframe>
</div>
<div id="contactSide" class="col-xs-12 col-sm-12 hidden-md hidden-lg">
	<h2 class="text-center">Kontakt</h2>
	<p><span class="glyphicon glyphicon-user"></span> Zakonski zastupnik: Dusan Gavrilović </p>
	<p><span class="glyphicon glyphicon-envelope"></span> Email: misapromet@yahoo.com <br> dusangavrilovic53@gmail.com </p>
	<p><span class="glyphicon glyphicon-phone"></span> Kontakt telefon: +381 555-333 </p>
	<p><span class="glyphicon glyphicon-map-marker"></span> Adresa: Dostojevskog 14, 37000 Kruševac </p>
	<p><span class="glyphicon glyphicon-credit-card"></span> Tekući račun: 205-104175-97</p>
	<p><span class="glyphicon glyphicon-credit-card"></span> PIB: 104277322</p>
	<p><span class="glyphicon glyphicon-credit-card"></span> Matični broj: 20123435</p>
</div> <!-- /kontakt side -->