<div class="container-fluid">		
	<div id="mainView" class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
	<h2>Dobro došli!</h2>
	<p>Preduzeće Miša Promet DOO je osnovano 01.02.2006.god.Pretezna delatnost preduzeća je trgovina na veliko i malo drvenom gradjom i gradjevinskim materijalom. Vršimo uslužno sečenje, obrade i sušenje gradje kao i usluge prevoza do zeljenih destinacija.<br> Preduzeće je dobilo ime i nasledilo delatnost jednog od njegovih osnivača Miloša Dragojlovića. Miloš je jos 1970.godine otišao u privatne zanatlije i sve do 2006.godine je bio uspešni trgovac drvene gradje i proizvoda od drveta. Svojim marljivim radom je utkao put preduzecu i stvorio ime i ugled.</p>
	</div> <!-- /main view -->
	<div id="contactSide" class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<h2 class="text-center">Kontakt</h2>
		<p><span class="glyphicon glyphicon-user"></span> Zakonski zastupnik: Dusan Gavrilović </p>
		<p><span class="glyphicon glyphicon-envelope"></span> Email: misapromet@yahoo.com <br> dusangavrilovic53@gmail.com </p>
		<p><span class="glyphicon glyphicon-phone"></span> Kontakt telefon: +381 62 492-153 </p>
		<p><span class="glyphicon glyphicon-map-marker"></span> Adresa: Dostojevskog 14, 37000 Kruševac </p>
		<p><span class="glyphicon glyphicon-credit-card"></span> Tekući račun: 205-104175-97</p>
		<p><span class="glyphicon glyphicon-credit-card"></span> PIB: 104277322</p>
		<p><span class="glyphicon glyphicon-credit-card"></span> Matični broj: 20123435</p>
	</div> <!-- /kontakt side -->
</div> <!-- /container-fluid -->