<div class="col-lg-2 col-md-2 col-sm-hidden col-xs-hidden">
	<ul>
		<li><a href="">Trupci-oblovina</a></li>
		<li><a href="">Daske</a></li>
		<li><a href="">Palete</a></li>
		<li><a href="">Ogrevno drvo</a></li>
		<li><a href="">Elementi</a></li>
	</ul>
	
</div> <!-- /col-lg-12 div with navigation tabs -->

<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
	<div id="trupci" class="col-xs-12">
		<h1>Trupci - oblovina</h1> <hr>
		<p>
			U ponudi uvek na skladištu imamo trupce sa teritorije Srbije.
			Razvrstavaju se po Evropskom Standardu: furnir, I, II, III klasa.
			Prioritet u ponudi su orahovi trupci.
		</p>
	</div> <!-- /trupci -->
	<div id="daske" class="col-xs-12">
		<h1>Daske</h1> <hr>
		<p>
			Na skladištu uvek u ponudi imamo daske: samicu, polusamicu, okrajčanu. 
			Daske se prodaju sveže, parene i sušene.
			Daske za inostranog kupca se rade na zahtev, unapred se ugovaraju.
		</p>
	</div> <!-- /daske -->
	<div id="elementi" class="col-xs-12">
		<h1>Elementi</h1> <hr>
		<p>
			Elementi se rade na zahtev inostranog kupca u dimenzijama i kvalitetu koji potražuje.
			Elementi se rade u različitim dimenzijama, zavisi od vrste drveta.
		</p>
	</div>
</div>